<div class="popup show" id="editProPopup">
    <button class="popup-close" (click)="close($event)" type="button">Close</button>
    <div class="popup-bg"></div>
    <div class="popup-scroll">
        <div class="scroll-bg"></div>
        <div class="popup-inner">
        	<div class="edit-block">
           <div class="title">Contact</div>
           <div class="mail-to-wpr"><a class="mail-to" href="mailto:info@imusify.com">info@imusify.com</a>           	
           </div>
            
            </div> 
        </div>
    </div>
</div>