h2 {
	font-weight: 500;
}
.edit-inner{
	display: flex;
	flex-direction: column;
	align-items: center;
	.avatar {
		text-align: left;
		padding: .7em;
		height: 10em;
		width: 10em;
		border-radius: 18em;
	}
	.description {
		width: 550px;
		text-align: left;
		font-size: 16px;
		font-weight: 200;
		line-height: 1.2;

		p {
			word-wrap: break-word;
			line-height: 2em;
			letter-spacing: .1em;
		}
	}
}

.user {
	display: flex;
	flex-direction: row;

	.user__info {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		.name {
			h3 {
				font-size: 41px;
			}
		}
		.handle {
			li {
				text-align: left;
			}
			.wallet {
				img {
				height: 1rem;
				width: 1.3rem;
				}
			}
		}
	}
}