h2 {
	font-weight: 500;
}
.edit-inner{
	display: flex;
	flex-direction: column;
	align-items: center;
	.description {
		width: 470px;
		max-height: 40px;
		text-align: left;
		font-size: 16px;
		font-weight: 200;
		line-height: 1.2;
	}
	.avatar {
		text-align: left;
		padding: .7em;
		height: 10em;
		width: 10em;
		border-radius: 18em;
	}
}

.user {
	display: flex;
	flex-direction: row;

	.user__info {
		li {
			text-align: left;
			line-height: 2rem;
		}

		h3 {
			font-size: 24px;
			font-weight: 200;
		}
		.wallet {
			img {
			height: 1rem;
			width: 1.3rem;
			}
		}
	}
}