<div class="popup show" id="showUserDetailsPopup" *ngIf="user">
  <button class="popup-close" (click)="close($event)" type="button">Close</button>
  <div class="popup-bg"></div>
  <div class="popup-scroll">
      <div class="popup-inner">

          <div class="edit-block">
              <div class="title">Your Profile</div>
                  <div class="edit-inner">
                  <div class="user-img">
                      <img [src]="user?.image_url || defaultUser" alt="">
                  </div>
                  <form>
                      <div class="inp-block big">
                          <input type="text" name="firstName" class="form-control form-control-lg" disabled id="userFirstName" placeholder="David" [value]="getFullName(user)" />
                      </div>
                      <div class="inp-block big">
                          <input readonly="readonly" type="email" name="email" id="email" class="form-control form-control-lg" placeholder="" [value]="user?.email" />
                      </div>
                       <div class="inp-block big">
                          <input readonly="readonly" type="text" name="username" id="username" class="form-control form-control-lg" placeholder="" [value]="user?.username" />
                      </div>
                      <div class="inp-block big">
                        <input readonly="readonly" type="text" class="form-control form-control-lg" placeholder="My Bio" [value]="user?.bio" />
                    </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
