<div class="popup show" id="showUserDetailsPopup" *ngIf="loadedUser">
  <button class="popup-close" (click)="close($event)" type="button">Close</button>
  <div class="popup-bg"></div>
  <div class="popup-scroll">
    <div class="popup-inner">

      <div class="edit-block">
        <div class="edit-inner">
          <div class="user">
            <div class="user__img">
              <img [src]="loadedUser?.image_url || defaultUser" class="avatar" alt="{{ loadedUser?.first_name }}">
            </div>
            <div class="user__info">
                <div class="name">
                    <h3>{{ getFullName(loadedUser) }}</h3>
                </div>
                <div class="handle">
                    <ul>
                        <li>
                        @{{ loadedUser?.username || 'Not Available' }}
                        </li>
                        <li>
                        <span *ngIf="loadedUser.wallet_address" class="wallet">
                            <img src="/assets/images/neo.png" alt="NEO Wallet">{{ loadedUser.wallet_address }}</span>
                        </li>
                    </ul>
                </div>
            </div>
          </div>
          <div class="description">
            <p class="bio-content" [innerHTML]="loadedUser?.bio | linkify" ></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
