<div class="popup show" id="aboutPopup">
    <button class="popup-close" (click)="close($event)" type="button">Close</button>
    <div class="popup-bg"></div>
    <div class="popup-scroll">
        <div class="scroll-bg"></div>
        <div class="popup-inner">
            <div class="about-block">
                <div class="title">about</div>
                <a href="http://www.imusify.com/" target="_blank">
                    <div class="logo"></div>
                </a>
                <div class="logo-info">imusify is a free, blockchain based, incentified and decentralized platform for music related digital content such as audio, video, apps, images, and blogging where anyone can join, contribute and get paid $!</div>
            </div>
            <div class="about-block">
                <div class="title">Team</div>
                <div class="peoples-wrap">
                    <div class="people-one">
                        <div class="img">
                            <img [src]="teams[0].picture" alt="">
                            <div class="described"><span><br> {{teams[0].described}}</span></div>
                        </div>
                        <div class="name"> {{teams[0].name}} </div>
                        <div class="position"> {{teams[0].position}} </div>
                        <div class="linkedin-github">
                            <a [href]="teams[0].linkedin" target="_blank" class="linkedin-link"></a>
                            <a [href]="teams[0].github" target="_blank" class="github-link"></a>
                        </div>
                    </div>
                    <div class="people-one">
                        <div class="img">
                            <img [src]="teams[1].picture" alt="">
                            <div class="described"><span><br> {{teams[1].described}}</span></div>
                        </div>
                        <div class="name"> {{teams[1].name}} </div>
                        <div class="position"> {{teams[1].position}} </div>
                        <div class="linkedin-github">
                            <a [href]="teams[1].linkedin" target="_blank" class="linkedin-link-one"></a>
                        </div>
                    </div>
                    <div class="people-one">
                        <div class="img">
                            <img [src]="teams[2].picture" alt="">
                            <div class="described"><span><br> {{teams[2].described}}</span></div>
                        </div>
                        <div class="name">{{teams[2].name}}<br>{{teams[2].otherName}}</div>
                        <div class="position"> {{teams[2].position}} </div>
                        <div class="linkedin-github">
                            <a [href]="teams[2].linkedin" target="_blank" class="linkedin-link"></a>
                            <a [href]="teams[2].github" target="_blank" class="github-link"></a>
                        </div>
                    </div>
                    <div class="people-one">
                        <div class="img">
                            <img [src]="teams[3].picture" alt="">
                            <div class="described"><span><br> {{teams[3].described}}</span></div>
                        </div>
                        <div class="name">{{teams[3].name}}<br>{{teams[3].otherName}}</div>
                        <div class="position"> {{teams[3].position}} </div>
                        <div class="linkedin-github">
                            <a [href]="teams[3].linkedin" target="_blank" class="linkedin-link"></a>
                            <a [href]="teams[3].github" target="_blank" class="github-link"></a>
                        </div>
                    </div>
                    <div class="people-one">
                        <div class="img">
                            <img [src]="teams[4].picture" alt="">
                            <div class="described"><span><br> {{teams[4].described}}</span></div>
                        </div>
                        <div class="name">{{teams[4].name}}</div>
                        <div class="position"> {{teams[4].position}} </div>
                        <div class="linkedin-github">
                            <a [href]="teams[4].linkedin" target="_blank" class="linkedin-link"></a>
                            <a [href]="teams[4].github" target="_blank" class="github-link"></a>
                        </div>
                    </div>
                    <div class="people-one">
                        <div class="img">
                            <img [src]="teams[5].picture" alt="">
                            <div class="described"><span><br> {{teams[5].described}}</span></div>
                        </div>
                        <div class="name">{{teams[5].name}}</div>
                        <div class="position"> {{teams[5].position}} </div>
                        <div class="linkedin-github">
                            <a [href]="teams[5].linkedin" target="_blank" class="linkedin-link-one"></a>
                        </div>
                    </div>
                    <div class="people-one">
                        <div class="img">
                            <img [src]="teams[6].picture" alt="">
                            <div class="described"><span><br> {{teams[6].described}}</span></div>
                        </div>
                        <div class="name">{{teams[6].name}}</div>
                        <div class="position"> {{teams[6].position}} </div>
                        <div class="linkedin-github">
                            <a [href]="teams[6].linkedin" target="_blank" class="linkedin-link-one"></a>
                        </div>
                    </div>
                    <div class="people-one">
                        <div class="img">
                            <img [src]="teams[7].picture" alt="">
                            <div class="described"><span><br> {{teams[7].described}}</span></div>
                        </div>
                        <div class="name">{{teams[7].name}}</div>
                        <div class="position"> {{teams[7].position}} </div>
                        <div class="linkedin-github">
                            <a [href]="teams[7].github" target="_blank" class="github-link-one"></a>
                        </div>
                    </div>
                    <div class="people-one">
                        <div class="img">
                            <img [src]="teams[8].picture" alt="">
                            <div class="described"><span><br> {{teams[8].described}}</span></div>
                        </div>
                        <div class="name">{{teams[8].name}}</div>
                        <div class="position"> {{teams[8].position}} </div>
                        <div class="linkedin-github">
                            <a [href]="teams[8].linkedin" target="_blank" class="linkedin-link-one"></a>
                        </div>
                    </div>
                    <div class="people-one">
                        <div class="img">
                            <img [src]="teams[9].picture" alt="">
                            <div class="described"><span><br> {{teams[9].described}}</span></div>
                        </div>
                        <div class="name">{{teams[9].name}}</div>
                        <div class="position"> {{teams[9].position}} </div>
                        <div class="linkedin-github">
                            <a [href]="teams[9].linkedin" target="_blank" class="linkedin-link-one"></a>
                        </div>
                    </div>
                    <div class="people-one"></div>
                    <div class="people-one"></div>
                </div>
            </div>
            <div class="about-block">
                <div class="title">Advisors</div>
                <div class="peoples-wrap">
                <!--div class="swiper-container peoples-wrap swiper-container-horizontal">
                    <div class="swiper-wrapper"-->
                        <div class="people-one swiper-slide">
                            <div class="img">
                                <img [src]="advisors[0].picture" alt="">
                                <div class="described"><span><br> {{advisors[0].described}} </span></div>
                            </div>
                            <div class="name"> {{advisors[0].name}} </div>
                            <div class="position"> {{advisors[0].position}} </div>
                            <div class="linkedin-github">
                                <a [href]="advisors[0].linkedin" target="_blank" class="linkedin-link"></a>
                                <a [href]="advisors[0].github" target="_blank" class="github-link"></a>
                            </div>
                        </div>
                        <div class="people-one swiper-slide swiper-slide-active">
                            <div class="img">
                                <img [src]="advisors[1].picture" alt="">
                                <div class="described"><span><br> {{advisors[1].described}} </span></div>
                            </div>
                            <div class="name"> {{advisors[1].name}} </div>
                            <div class="position"> {{advisors[1].position}} </div>
                            <div class="linkedin-github">
                                <a [href]="advisors[1].linkedin" target="_blank" class="linkedin-link-one"></a>
                            </div>
                        </div>
                        <div class="people-one swiper-slide swiper-slide-next">
                            <div class="img">
                                <img [src]="advisors[2].picture" alt="">
                                <div class="described"><span><br> {{advisors[2].described}} </span></div>
                            </div>
                            <div class="name"> {{advisors[2].name}} </div>
                            <div class="position"> {{advisors[2].position}} </div>
                            <div class="linkedin-github">
                                <a [href]="advisors[2].linkedin" target="_blank" class="linkedin-link-one"></a>
                            </div>
                        </div>
                        <div class="people-one swiper-slide">
                            <div class="img">
                                <img [src]="advisors[3].picture" alt="">
                                <div class="described"><span><br> {{advisors[3].described}} </span></div>
                            </div>
                            <div class="name"> {{advisors[3].name}} </div>
                            <div class="position"> {{advisors[3].position}} </div>
                            <div class="linkedin-github">
                                <a [href]="advisors[3].linkedin" target="_blank" class="linkedin-link-one"></a>
                            </div>
                        </div>
                        <div class="people-one swiper-slide">
                            <div class="img">
                                <img [src]="advisors[4].picture" alt="">
                                <div class="described"><span><br> {{advisors[4].described}} </span></div>
                            </div>
                            <div class="name"> {{advisors[4].name}} </div>
                            <div class="position"> {{advisors[4].position}} </div>
                            <div class="linkedin-github"></div>
                        </div>
                        
                        
                    <!--/div-->
                    <!--div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span></div-->
                </div>
            </div>
            <div class="about-block">
                <div class="title">Artists</div>
                <div class="icons-wrap">
                    <div class="icon-one">
                        <div class="img">
                            <img src="./../../../assets/images/about/prod-ab-ico.svg">
                        </div>
                        <div class="name">MUSIC PRODUCERS</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="./../../../assets/images/about/beat-ab-ico.svg">
                        </div>
                        <div class="name">BEATMAKERS</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="./../../../assets/images/about/djs-ab-ico.svg">
                        </div>
                        <div class="name">DJS</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="./../../../assets/images/about/turn-ab-ico.svg">
                        </div>
                        <div class="name">TURNTABLISTS</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="./../../../assets/images/about/curat-ab-ico.svg">
                        </div>
                        <div class="name">CURATORS</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="./../../../assets/images/about/singers-ab-ico.svg">
                        </div>
                        <div class="name">SINGERS</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="./../../../assets/images/about/rapp-ab-ico.svg">
                        </div>
                        <div class="name">RAPPERS</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="./../../../assets/images/about/vocal-ab-ico.svg">
                        </div>
                        <div class="name">VOCALISTS</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="./../../../assets/images/about/speak-ab-ico.svg">
                        </div>
                        <div class="name">SPEAKERS</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="./../../../assets/images/about/beatbox-ab-ico.svg">
                        </div>
                        <div class="name">BEATBOXERS</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="./../../../assets/images/about/compos-ab-ico.svg">
                        </div>
                        <div class="name">COMPOSERS</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="./../../../assets/images/about/songwrite-ab-ico.svg">
                        </div>
                        <div class="name">SONGWRITERS</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="./../../../assets/images/about/instrum-ab-ico.svg">
                        </div>
                        <div class="nameLong">INSTRUMENTALISTS</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="./../../../assets/images/about/bands-ab-ico.svg">
                        </div>
                        <div class="name">BANDS</div>
                    </div>
                </div>
            </div>
            <div class="about-block">
                <div class="title">Executives</div>
                <div class="icons-wrap">
                    <div class="icon-one">
                        <div class="img">
                            <img src="./../../../assets/images/about/a_rs-ab-ico.svg">
                        </div>
                        <div class="name">A&amp;Rs</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="./../../../assets/images/about/labels-ab-ico.svg">
                        </div>
                        <div class="name">LABELS</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="./../../../assets/images/about/publish-ab-ico.svg">
                        </div>
                        <div class="name">PUBLISHERS</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="./../../../assets/images/about/manag-ab-ico.svg">
                        </div>
                        <div class="name">MANAGERS</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="./../../../assets/images/about/book-ab-ico.svg">
                        </div>
                        <div class="name">BOOKERS</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="./../../../assets/images/about/ditrib-ab-ico.svg">
                        </div>
                        <div class="name">DISTRIBUTERS</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="./../../../assets/images/about/record-ab-ico.svg">
                        </div>
                        <div class="name">RECORDING STUDIOS</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="./../../../assets/images/about/film-ab-ico.svg">
                        </div>
                        <div class="name">FILM PRODUCER</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="./../../../assets/images/about/vert-ab-ico.svg">
                        </div>
                        <div class="name">ADVERTISING AGENCIES</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="./../../../assets/images/about/supervis-ab-ico.svg">
                        </div>
                        <div class="name">MUSIC SUPERVISORS</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="./../../../assets/images/about/filmcut-ab-ico.svg">
                        </div>
                        <div class="name">FILM CUTTERs</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="./../../../assets/images/about/lawyer-ab-ico.svg">
                        </div>
                        <div class="name">LAWYERS</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="./../../../assets/images/about/event-ab-ico.svg">
                        </div>
                        <div class="name">EVENT MANAGERS</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="./../../../assets/images/about/bands2-ab-ico.svg">
                        </div>
                        <div class="name">GAME DEVELOPERS</div>
                    </div>
                </div>
            </div>
            <div class="about-block">
                <div class="title">Content</div>
                <div class="content-wrap">
                    <div class="content-one">
                        <div class="content-inn">
                            <span class="cnt-s100">105</span>
                            <br>
                            <!--span class="cnt-s20">BILLION</span><br-->
                            <span class="cnt-s12">Slack Members</span>
                        </div>
                    </div>
                    <div class="content-one">
                        <div class="content-inn">
                            <span class="cnt-s40">4.678.232</span>
                            <br>
                            <!--span class="cnt-s60">{{content.songUpload}}</span><span class="cnt-s50">678.</span><span class="cnt-s24">232</span><br-->
                            <span class="cnt-s20">SONGS UPLOAD</span>
                        </div>
                    </div>
                    <div class="content-one">
                        <div class="content-inn">
                            <span class="cnt-s60">5.672</span>
                            <br>
                            <span class="cnt-s20">MEMBERS</span>
                        </div>
                    </div>
                    <div class="content-one">
                        <div class="content-inn">
                            <span class="cnt-s100">3</span>
                            <br>
                            <span class="cnt-s20">MILLION</span>
                            <br>
                            <span class="cnt-s12">Votes</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-block">
                <div class="info-text">
                    <p>We are always on the lookout for great talent. If you feel as if imusify is the right community to help develop your talent, sign up, join the community and post a introductory text of yourself as soon as youre on the #general channel! See you there!</p>
                </div>
                <a href="http://www.imusify.com/signup" class="info-text-btn" target="_blank">Join The Community</a>
                <a href="https://github.com/imusify" class="github-imusify-btn" target="_blank">Improve This Page</a>
            </div>
        </div>
    </div>
</div>