<div class="popup show" id="aboutPopup">
    <button class="popup-close" (click)="close($event)" type="button">Close</button>
    <div class="popup-bg"></div>
    <div class="popup-scroll">
        <div class="scroll-bg"></div>
        <div class="popup-inner">

            <div class="about-block">
                <div class="title">about</div>
                <a href="http://www.imusify.com/" target="_blank">
                    <div class="logo"></div>
                </a>
                <div class="logo-info">imusify is a free, blockchain based, incentified and decentralized platform for music related digital content such as audio, video, apps, images, and blogging where anyone can join, contribute and get paid $!</div>
            </div>

            <div class="about-block">
                <div class="title">Team</div>
                <div class="peoples-wrap">
                    <div class="people-one">
                        <div class="img">
                            <img src="./../../../assets/images/peoples/1.jpg" alt="">
                            <div class="described"><span><br>David Walters =&gt; Founder&amp;CEO </span></div>
                        </div>
                        <div class="name">DAVID WALTERS</div>
                        <div class="position">CEO &amp; Founder</div>
                        <div class="linkedin-github">
                            <a href="https://www.linkedin.com/in/1davidwalters/" target="_blank" class="linkedin-link"></a>
                            <a href="https://github.com/DavidWalters123" target="_blank" class="github-link"></a>
                        </div>
                        <!--a href="//facebook.com/" target="_blank" class="fb-link"></a-->
                    </div>
                    <div class="people-one">
                        <div class="img">
                            <img src="./../../../assets/images/peoples/7.jpg" alt="">
                            <div class="described"><span><br> </span></div>
                        </div>
                        <div class="name">BASIT RAZA
                            <br>aka Geek</div>
                        <div class="position">Developer</div>
                        <div class="linkedin-github">
                            <a href="https://www.linkedin.com/in/basitraza1/" target="_blank" class="linkedin-link"></a>
                            <a href="https://github.com/geek96" target="_blank" class="github-link"></a>
                        </div>
                    </div>
                    <div class="people-one">
                        <div class="img">
                            <img src="./../../../assets/images/peoples/5.jpg" alt="">
                            <div class="described"><span><br></span></div>
                        </div>
                        <div class="name">CHRIS HAGER
                            <br>aka Metachris</div>
                        <div class="position">Blockchain Developer</div>
                        <div class="linkedin-github">
                            <a href="https://www.linkedin.com/in/hagerchristian/" target="_blank" class="linkedin-link"></a>
                            <a href="https://github.com/metachris" target="_blank" class="github-link"></a>
                        </div>
                    </div>
                    <div class="people-one">
                        <div class="img">
                            <img src="./../../../assets/images/peoples/3.jpg" alt="">
                            <div class="described"><span><br></span></div>
                        </div>
                        <div class="name">NHAN TRAN</div>
                        <div class="position">Developer</div>
                        <div class="linkedin-github">
                            <a href="https://github.com/thanhnhan290488" target="_blank" class="github-link-one"></a>
                        </div>
                    </div>
                    <div class="people-one">
                        <div class="img">
                            <img src="./../../../assets/images/peoples/2.jpg" alt="">
                            <div class="described"><span><br> </span></div>
                        </div>
                        <div class="name">EVA PREGER</div>
                        <div class="position">Business Developer</div>
                        <div class="linkedin-github">
                            <a href="https://www.linkedin.com/in/eva-preger-728017153/" target="_blank" class="linkedin-link-one"></a>

                        </div>
                    </div>
                    <div class="people-one">
                        <div class="img">
                            <img src="./../../../assets/images/peoples/13.jpg" alt="">
                            <div class="described"><span><br></span></div>
                        </div>
                        <div class="name">NITESH MAHESHWARI</div>
                        <div class="position">Marketing</div>
                        <div class="linkedin-github">
                            <a href="https://www.linkedin.com/in/nitesh-maheshwari-b0110963/" target="_blank" class="linkedin-link-one"></a>

                        </div>
                    </div>
                    <div class="people-one"></div>
                    <div class="people-one"></div>

                </div>
            </div>

            <div class="about-block">
                <div class="title">Advisors</div>
                <div class="swiper-container peoples-wrap swiper-container-horizontal">
                    <div class="swiper-wrapper">

                        <div class="people-one swiper-slide swiper-slide-active">
                            <div class="img">
                                <img src="./../../../assets/images/peoples/11.jpg" alt="">
                                <div class="described"><span><br></span></div>
                            </div>
                            <div class="name">VINCENT CASTELLUCCI</div>
                            <div class="position">Music Industry Advisor</div>
                            <div class="linkedin-github">
                                <a href="https://www.linkedin.com/in/vicastellucci/" target="_blank" class="linkedin-link-one"></a>

                            </div>
                        </div>
                        <div class="people-one swiper-slide swiper-slide-next">
                            <div class="img">
                                <img src="./../../../assets/images/peoples/12.jpg" alt="">
                                <div class="described"><span><br></span></div>
                            </div>
                            <div class="name">WAYNE CHICO PITTMAN</div>
                            <div class="position">Advisor</div>
                            <div class="linkedin-github">
                                <a href="https://www.linkedin.com/in/wayne-chico-pittman-5aaa5b16//" target="_blank" class="linkedin-link-one"></a>

                            </div>
                        </div>
                        <div class="people-one swiper-slide">
                            <div class="img">
                                <img src="./../../../assets/images/peoples/4.jpg" alt="">
                                <div class="described"><span><br></span></div>
                            </div>
                            <div class="name">ALEKSEY GUDKOV</div>
                            <div class="position">Blockchain Legal Advisor</div>
                            <div class="linkedin-github">
                                <a href="https://www.linkedin.com/in/agudkov/" target="_blank" class="linkedin-link-one"></a>

                            </div>
                        </div>
                        <div class="people-one swiper-slide">
                            <div class="img">
                                <img src="./../../../assets/images/peoples/8.jpg" alt="">
                                <div class="described"><span><br>info info info info info info info info  info  info  info  info info info info info  </span></div>
                            </div>
                            <div class="name">Michael P. Dohnke</div>
                            <div class="position">Legal Advisor</div>
                            <div class="linkedin-github">

                            </div>
                        </div>

                    </div>
                    <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span></div>
                </div>
            </div>

            <div class="about-block">
                <div class="title">Artists</div>
                <div class="icons-wrap">
                    <div class="icon-one">
                        <div class="img">
                            <img src="./../../../assets/images/about/prod-ab-ico.svg">
                        </div>
                        <div class="name">MUSIC PRODUCERS</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="./../../../assets/images/about/beat-ab-ico.svg">
                        </div>
                        <div class="name">BEATMAKERS</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="./../../../assets/images/about/djs-ab-ico.svg">
                        </div>
                        <div class="name">DJS</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="./../../../assets/images/about/turn-ab-ico.svg">
                        </div>
                        <div class="name">TURNTABLISTS</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="./../../../assets/images/about/curat-ab-ico.svg">
                        </div>
                        <div class="name">CURATORS</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="./../../../assets/images/about/singers-ab-ico.svg">
                        </div>
                        <div class="name">SINGERS</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="./../../../assets/images/about/rapp-ab-ico.svg">
                        </div>
                        <div class="name">RAPPERS</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="./../../../assets/images/about/vocal-ab-ico.svg">
                        </div>
                        <div class="name">VOCALISTS</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="./../../../assets/images/about/speak-ab-ico.svg">
                        </div>
                        <div class="name">SPEAKERS</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="./../../../assets/images/about/beatbox-ab-ico.svg">
                        </div>
                        <div class="name">BEATBOXERS</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="./../../../assets/images/about/compos-ab-ico.svg">
                        </div>
                        <div class="name">COMPOSERS</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="./../../../assets/images/about/songwrite-ab-ico.svg">
                        </div>
                        <div class="name">SONGWRITERS</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="./../../../assets/images/about/instrum-ab-ico.svg">
                        </div>
                        <div class="nameLong">INSTRUMENTALISTS</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="./../../../assets/images/about/bands-ab-ico.svg">
                        </div>
                        <div class="name">BANDS</div>
                    </div>

                </div>
            </div>

            <div class="about-block">
                <div class="title">Executives</div>
                <div class="icons-wrap">
                    <div class="icon-one">
                        <div class="img">
                            <img src="./../../../assets/images/about/a_rs-ab-ico.svg">
                        </div>
                        <div class="name">A&amp;Rs</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="./../../../assets/images/about/labels-ab-ico.svg">
                        </div>
                        <div class="name">LABELS</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="./../../../assets/images/about/publish-ab-ico.svg">
                        </div>
                        <div class="name">PUBLISHERS</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="./../../../assets/images/about/manag-ab-ico.svg">
                        </div>
                        <div class="name">MANAGERS</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="./../../../assets/images/about/book-ab-ico.svg">
                        </div>
                        <div class="name">BOOKERS</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="./../../../assets/images/about/ditrib-ab-ico.svg">
                        </div>
                        <div class="name">DISTRIBUTERS</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="./../../../assets/images/about/record-ab-ico.svg">
                        </div>
                        <div class="name">RECORDING STUDIOS</div>
                    </div>

                    <div class="icon-one">
                        <div class="img">
                            <img src="./../../../assets/images/about/film-ab-ico.svg">
                        </div>
                        <div class="name">FILM PRODUCER</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="./../../../assets/images/about/vert-ab-ico.svg">
                        </div>
                        <div class="name">ADVERTISING AGENCIES</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="./../../../assets/images/about/supervis-ab-ico.svg">
                        </div>
                        <div class="name">MUSIC SUPERVISORS</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="./../../../assets/images/about/filmcut-ab-ico.svg">
                        </div>
                        <div class="name">FILM CUTTERs</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="./../../../assets/images/about/lawyer-ab-ico.svg">
                        </div>
                        <div class="name">LAWYERS</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="./../../../assets/images/about/event-ab-ico.svg">
                        </div>
                        <div class="name">EVENT MANAGERS</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="./../../../assets/images/about/bands2-ab-ico.svg">
                        </div>
                        <div class="name">GAME DEVELOPERS</div>
                    </div>

                </div>
            </div>

            <div class="about-block">
                <div class="title">Content</div>
                <div class="content-wrap">
                    <div class="content-one">
                        <div class="content-inn">
                            <span class="cnt-s100">105</span>
                            <br>
                            <!--span class="cnt-s20">BILLION</span><br-->
                            <span class="cnt-s12">Slack Members</span>
                        </div>
                    </div>
                    <div class="content-one">
                        <div class="content-inn">
                            <span class="cnt-s40">4.678.232</span>
                            <br>
                            <!--span class="cnt-s60">{{content.songUpload}}</span><span class="cnt-s50">678.</span><span class="cnt-s24">232</span><br-->
                            <span class="cnt-s20">SONGS UPLOAD</span>
                        </div>
                    </div>
                    <div class="content-one">
                        <div class="content-inn">
                            <span class="cnt-s60">5.672</span>
                            <br>
                            <span class="cnt-s20">MEMBERS</span>
                        </div>
                    </div>
                    <div class="content-one">
                        <div class="content-inn">
                            <span class="cnt-s100">3</span>
                            <br>
                            <span class="cnt-s20">MILLION</span>
                            <br>
                            <span class="cnt-s12">Votes</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="about-block">
                <div class="info-text">
                    <p>We are always on the lookout for great talent. If you feel as if imusify is the right community to help develop your talent, sign up, join the community and post a introductory text of yourself as soon as youre on the #general channel! See you there!</p>
                </div>
                <a href="http://www.imusify.com/signup" class="info-text-btn" target="_blank">Join The Community</a>

                <a href="https://github.com/imusify" class="github-imusify-btn" target="_blank">Improve This Page</a>
            </div>

        </div>
    </div>
</div>