<div class="popup show" id="signInPopup">
	<button class="popup-close" (click)="close($event)" type="button">Close</button>
    <div class="popup-bg"></div>
    <div class="popup-scroll">
        <div class="scroll-bg"></div>
        <div class="popup-inner">
            <div *ngIf="loading" class="sign-block">
              <app-loading></app-loading> Please wait...
            </div>
            <div class="sign-block" *ngIf="showForm">
                <div class="title">Setup your wallet password</div>
                <p>This is your wallet password, please keep it in safe place.</p>

                <div *ngIf="message" class="alert alert-{{message.type}}">{{message.message}}</div>
                <form class="sign-form" [formGroup]="walletForm" (ngSubmit)="walletSetup()">
                    <div class="inp-block">
                        <input type="password" autocomplete="off" name="password" id="walletPassword" formControlName="password" class="form-control" />
                        <label for="walletPassword">Password</label>
                    </div>
                    <div class="sbm-block">
                        <button [disabled]="!walletForm.valid" type="submit">
                            <app-loading *ngIf="loading"></app-loading>
                            Create Wallet
                        </button>
                    </div>
                </form>
            </div>
            <div *ngIf="!showForm" class="sign-block">
            	<div class="title">Wallet Info</div>
            	<div *ngIf="info">
                    Wallet Address: {{ info.wallet_address }} <br />
            		<span *ngIf="isShown"> Wallet NEP2 KEY: {{ message.wallet_nep2_key }} <br /></span>
            		Balance: {{(currentUserWallet | async).balance | neobalance}} IMU
            	</div>
                <form *ngIf="!isShown" class="sign-form nep-form" [formGroup]="NEPForm" (ngSubmit)="getNEPData(NEPForm)">
                    <div class="inp-block">
                        <input type="password" autocomplete="off" name="password" id="walletPassword" formControlName="password" class="form-control" />
                        <label for="walletPassword">Imusify Password</label>
                    </div>
                    <div class="sbm-block">
                        <button [disabled]="!NEPForm.valid" type="submit">
                            Reveal NEP2 wallet private key
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
