<div class="track-timeline">
    <div class="sound-wave">
        <div class="wave-form">
                <div class="wave-bg">
                    <div [style.width.%]="post.progress" class="wave-progress"></div>
                </div>
                <canvas #waveform (mouseout)="resetPosition($event)" (mouseover)="getPlayingPosition($event)" (mousemove)="getPlayingPosition($event)" (click)="seekEvent($event)"></canvas>
            </div>
    </div>
    <i class="duration" *ngIf="update">{{update.current}}</i>
</div>
