<button *ngIf="!playing" (click)="play($event)" 
        class="box-btn play" title="play" [ngClass]="{'blink_me':loading}"></button>
<button *ngIf="playing && !loading" (click)="pause($event)" 
        class="box-btn play" title="play"></button>

<!--<div class="track-info">
    <a href="#" class="title">Love Song</a>
    <a href="#" class="subtitle">Come Again</a>
</div>-->
<div class="track-timeline">
    <div class="sound-wave">
        <div class="wave-form">
                <div class="wave-bg">
                    <div [style.width.%]="progress" class="wave-progress"></div>
                </div>
                <canvas #waveform (mouseout)="resetPosition($event)" (mouseover)="getPlayingPosition($event)" (mousemove)="getPlayingPosition($event)" (click)="play($event)"></canvas>
            </div>
    </div>
    <i class="duration" *ngIf="update">{{update.current}}</i>
</div>