.wave-form{
  width: 100%;
  position: relative;
  margin-top: 5px;
}
.wave-bg{
	width: 100%;
    height: 40px;
    background-color: rgba(255,255,255,.4);
}
canvas{
	position: absolute;
    top: 0px;
}
.wave-progress{
	height: 40px;
	background-color: rgba(255,255,255,.2);
}
.blink_me {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}

.track-timeline {
  width: 100%;
  min-height: 50px;
}
