<div *ngIf="uploadLoading || !postForm" class="dropzone" appFileDrop (fileDropped)="handleDrop($event)" (fileHovered)="dropzoneState($event)" [ngClass]="{'dz-active': dropzoneActive}">
    <div class="fu-text pull-left">
        
    </div>
    <div class="pull-right">
        <button class="btn btn-default" type="button" *ngIf="!uploadLoading">Upload</button>
    </div>
    <div class="clearfix"></div>
    <input type="file" class="hidden" name="file" (change)="upload($event)" [disabled]="uploadLoading"/>
    <div class="upload-progress" [style.width.%]="progress.percent" *ngIf="uploadLoading">

    </div>
</div>

<div *ngIf="message" class="alert alert-{{message.type}}">
    {{message.data}}
</div>
<form class="upload-form" *ngIf="postForm && !uploadLoading" [formGroup]="postForm" (ngSubmit)="savePost(postForm)">

    <input type="text" placeholder="Title of the post" class="form-control form-control-lg" formControlName="title" />

    <select class="form-control form-control-lg" formControlName="category" multiple="multiple">
        <option *ngFor="let c of (categoriesList | async).categories" [value]="c.id">
            {{c.name}}
        </option>
    </select>
    <textarea class="form-control form-control-lg" placeholder="Description" formControlName="description"></textarea>
    <div class="">
        <button class="btn btn-default pull-left" [disabled]="!postForm.valid">
            <app-loading *ngIf="loading"></app-loading>
            Save
        </button>
        <span *ngIf="uploadLoading" class="pull-left progress">
                <app-loading></app-loading>
                <span *ngIf="progress">
                {{progress.progress}}% {{progress.current}}mb / {{progress.total}} mb
                </span>
        </span>
        <div class="clearfix"></div>
    </div>

</form>
