.hidden {
	position: absolute;
	height: 100%;
	width: 100%;
	opacity: 0.0;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	cursor: pointer;
}

.btn-file{
	cursor: pointer;
	margin-bottom:0;
	background: #000;
    color: #fff;
}

.btn-default {
	background: gray;
	color: #fff;
	border-radius: 5px;
}
.btn-default:hover {
	background: #1b1b1c !important
}

.btn-default.disabled, .btn-default:disabled {
	background: lightgray;
	color: #333;
}

.dropzone{	
	border-radius: 5px;
	padding: 10px;
	background: #000;
	position: relative;
	color: #fff;
}

.dropzone:hover {
	color: #eee;
}

.fu-text{
	padding: 8px 0 0px 8px;
}

.dz-active {
	background: #1b1b1c;
}

.card {
	border: 0px solid #ddd;
	background: transparent;
	border-radius: 0px;
}



.album-art{
	width: 100%;
	border-radius: 5px;
}


.btn {
	position: relative !important; 
}

.form-control {
	position: relative;
    display: block;
    width: 100%;
    padding: 10px 10px;
    margin: 0 0 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    transition: all .35s ease;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
}

.upload-form{
	width: 90%;
	margin: 0 auto;
	padding: 30px 0;
}


.progress{
	padding: 15px 0 0 15px;
}
