<div *ngIf="!uploadLoading && !postForm" class="dropzone" appFileDrop (fileDropped)="handleDrop($event)" (fileHovered)="dropzoneState($event)" [ngClass]="{'dz-active': dropzoneActive}">
    <div class="fu-text pull-left">
        Hi Guys, check out my new remix!

    </div>
    <div class="pull-right">
        <button class="btn btn-default" type="button">Upload</button>
    </div>
    <div class="clearfix"></div>
    <input type="file" class="hidden" name="file" (change)="upload($event)" />

</div>

<div *ngIf="message" class="alert alert-{{message.type}}">
    {{message.data}}
</div>
<form class="upload-form" *ngIf="postForm" [formGroup]="postForm" (ngSubmit)="savePost(postForm)">

    <input type="text" placeholder="Title of the post" class="form-control form-control-lg" formControlName="title" />

    <select class="form-control form-control-lg" formControlName="category" multiple="multiple">
        <option *ngFor="let c of categories" [value]="c.ID">
            {{c.name}}
        </option>
    </select>
    <textarea class="form-control form-control-lg" placeholder="Description" formControlName="description"></textarea>
    <div class="">
        <button class="btn btn-default pull-left" [disabled]="!postForm.valid">
            <app-loading *ngIf="loading"></app-loading>
            Save
        </button>
        <span *ngIf="uploadLoading" class="pull-left progress">
                <app-loading></app-loading>
                <span *ngIf="progress">
                {{progress.progress}}% {{progress.current}}mb / {{progress.total}} mb
                </span>
        </span>
        <div class="clearfix"></div>
    </div>

</form>