<!--The content below is only a placeholder and can be replaced.-->
<div>
  <app-leftpane *ngIf="!guest && (user | async).isLogged"></app-leftpane>
  <div class="main">
    <app-header *ngIf="!guest && (user | async).isLogged"></app-header>
    <router-outlet></router-outlet>
  </div>
  <app-channel *ngIf="!guest && (user | async).isLogged"></app-channel>
  <app-campaign *ngIf="!guest && (user | async).isLogged"></app-campaign>
  <app-campaign-details *ngIf="!guest && (user | async).isLogged"></app-campaign-details>
  <app-user-details *ngIf="!guest && (user | async).isLogged"></app-user-details>
</div>
