<!--The content below is only a placeholder and can be replaced.-->
<div>
  <ng-progress></ng-progress>
  <app-leftpane *ngIf="!guest && user"></app-leftpane>
  <div class="main">
    <app-header *ngIf="!guest && user"></app-header>
    <router-outlet></router-outlet>
  </div>
  <app-floating-player></app-floating-player>
  <app-channel *ngIf="!guest && user"></app-channel>
  <app-campaign *ngIf="!guest && user"></app-campaign>
  <app-campaign-details *ngIf="!guest && user"></app-campaign-details>
  <app-user-details *ngIf="!guest && user"></app-user-details>
</div>
