.hidden{
	display: none;
}

.foll-form{
	padding-bottom: 0 !important
}

.foll-left {
	height: 80vh;
}

.post-user-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

button {
  cursor: pointer;
}

.foll-track {
  height: 40px;
  padding: 0 !important;

  .play {
    left: -40px;
  }
}
