<div class="main-top">
                <div class="one-block">
                    <div class="tabs">
                        <a href="#" (click)="createChannel($event)" class="tabs-item active">Channels <i class="fa fa-plus"></i></a>
                    </div>

                    <form method="post" action="/" class="search-form">
                      <div class="imu-balance">
                        <label>Balance:</label>
                        {{balance | neobalance}} IMU
                      </div>                      
                        <!--<input type="text" id="searchInput" placeholder="What are you looking for?" value=""/>
                        <span></span>
                        <a href="#searchPopup" data-type="popup" id="searchLink">Search</a>-->
                        <!--<button type="submit">Search</button>-->
                    </form>
                </div>
            </div>