<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" routerLink="/dashboard">
        <img src="../../assets/logo.png" width="163">
    </a>
    <div class="container">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto invisible">
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="http://imusify.com/about">about</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/signin">logout</a>
                </li>
            </ul>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="http://imusify.com/about">about</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/signin">logout</a>
                </li>

            </ul>
        </div>
    </div>
</nav>