<div id="menu">
    <div class="menu-bg" [style.background]="'url('+user?.image+')'"></div>
    <header>
        <a routerLink="/" class="head-logo">Logo</a>
        <span class="head-info">SELL YOUR MUSIC</span>
    </header>
    <div class="menu-inn">
        <div class="profile">
            <a class="prof-link" routerLink="/channels">
                <div class="img-box">
                    <img src={{user?.image}} class="prof-img" alt=""/>
                    <i><span class="prof-status {{user?.status}}" data-status="current"></span></i>
                    <span class="prof-status edit" (click)="toggleStatusOptions($event)" data-status="edit"></span>
                    <div class="prof-status-opt" [ngClass]="{'show':optionsStatus}">
                        <ul class="prof-status-list">
                            <li class="prof-status online"
                            	(click)="setStatus('online', $event)"
                            	data-status="selected">
                            		<span>Online</span>
                            </li>
                            <li class="prof-status offline"
                            	(click)="setStatus('offline', $event)"
                            	data-status="selected">
                            		<span>Offline</span>
                            </li>
                            <li class="prof-status away"
                            	(click)="setStatus('away', $event)"
                            	data-status="selected">
                            		<span>Away</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="prof-user"><span>{{user?.firstName}} {{user?.lastName}}</span></div>
            </a>
            <ul class="prof-notes">
                <li class="prof-note"><a routerLink="/channels" class="note-link email-ico" title="email"></a><span class="note-number">2</span></li>
                <li class="prof-note"><a routerLink="/channels" class="nav-one note-link alert-ico" title="notifications"></a><span class="note-number">16</span></li>
                <li class="prof-note">
                    <a href="#" (click)="openSetting($event)" class="note-link settings-ico" title="settings"></a>
                    <div class="popover top" [ngClass]="{'show':showSetting}">
                        <div class="inner">
                            <ul class="inn-list">
                                <!--<li>
                                    <a href="account.html"><span>Account</span></a>
                                </li>-->
                                <li>
                                    <a (click)="toggleEditForm($event)"
                                    	href="#editProPopup"
                                    	data-type="popup">
                                    	<span>Edit Profile</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" (click)="toggleWallet($event)"><span>Wallet</span></a>
                                </li>
                                <!--<li>
                                    <a href="upload.html"><span>Upload Track</span></a>
                                </li>
                                <li>
                                    <a href="#roles" data-type="popup"><span>Roles</span></a>
                                </li>
                                <li>
                                    <a href="#membership" data-type="popup"><span>Membership</span></a>
                                </li>
                                <li>
                                    <a href="#"><span>Apply Gift Coupon</span></a>
                                </li>
                                <li>
                                    <a href="#inviteFriends" data-type="popup"><span>Invite Friends</span></a>
                                </li> -->
                                <li>
                                    <a href="/signin" (click)="signout($event)"><span>Sign Out</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <nav class="menu-nav">
        	<app-channel-list></app-channel-list>
        </nav>
    </div>
    <footer>
        <div class="foot-links">
            <a href="#aboutPopup" (click)="toggleAboutpage($event)" data-type="popup">About</a>
            |
            <a>Privacy Policy</a>
            |
            <a routerLink="/legal" >Legal</a>

        </div>
        <div class="foot-links">
            <a target="_blank" href="http://imusify.com/whitepaper.pdf" >Whitepaper</a>
            |
            <a target="_blank" href="https://github.com/imusify" >Github</a>

            <a target="_blank" href="https://github.com/imusify" >
            	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        	</a>

        </div>
        <div class="foot-copy">Copyright © 2018 imusify <br>All rights reserved</div>
    </footer>
</div>

<app-editprofile *ngIf="editForm"></app-editprofile>
<widget-about *ngIf="aboutPage"></widget-about>
<widget-wallet *ngIf="wallet"></widget-wallet>
<widget-contact *ngIf="contact"></widget-contact>
