.voting-wpr {
	padding-left: 5px;
}

.icon{
	position: relative;
    top: -3px;
    font-size: 15px;
    
}
.icon a {
	color: gray;
}

.count {
	color: #fff;
    font-size: 13px;
    position: relative;
    top: -3px;
    padding: 0 6px;
}
