<div class="bg-black d-flex">
  <div class="container align-self-center">
    <div class="row justify-content-md-center">
      <div class="col-md-5">
        <h1 class="text-center mb-5">Imusify</h1>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-md-5">
        <div class="card">
          <div class="card-body">
            <h1 class="text-center title mb-5">Sign in</h1>
              <div *ngIf="message" class="alert alert-{{message.type}}">{{message.message}}</div>
            <form [formGroup]="signinForm" (ngSubmit)="signin(signinForm)">
              <div class="form-group">
                <input id="email" name="email" type="Email" class="form-control" placeholder="Email" formControlName="email" />
              </div>
              <div class="form-group">
                <input placeholder="Password" type="password" autocomplete="off" class="form-control" name="password" formControlName="password" />
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input"> Remember me
                </label>
              </div>
              <button class="btn btn-primary btn-block mt-3" [disabled]="!signinForm.valid" ><app-loading *ngIf="loading"></app-loading>Login</button>
            </form>
            <p class="pt-3">No account?
              <a routerLink="/signup">Create one!</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
