<div class="popup show" id="signInPopup">
    <button class="popup-close" type="button">Close</button>
    <div class="popup-bg"></div>
    <div class="popup-scroll">
        <div class="scroll-bg"></div>
        <div class="popup-inner">
            <div class="sign-block">
                <div class="title">Sign in to imusify</div>
                <div class="tit-info">Use Facebook, Linked in, Soundcloud or your email to sign in. Don't have a Imusify account yet? No worries, <a routerLink="/signup">joining</a> is easy.</div>
                <div class="social-logins">
                    <a href="" class="fb soc-login" data-type="fb">
                        <span>Facebook</span>
                    </a>
                    <a href="" class="in soc-login" data-type="in">
                        <span>LinkedIn</span>
                    </a>
                    <a href="" class="sc soc-login" data-type="sc">
                        <span>Souncloud</span>
                    </a>
                </div>
                <div class="or">Or</div>
                <div *ngIf="message" class="alert alert-{{message.type}}">{{message.message}}</div>
                <form method="post" class="sign-form" [formGroup]="signinForm" (ngSubmit)="signin(signinForm)">
                    <div class="inp-block">
                        <input type="text" name="email" id="signInName" formControlName="email">
                        <label for="signInName">Email</label>
                    </div>
                    <div class="inp-block">
                        <input type="password" autocomplete="off" name="password" id="signInPassword" formControlName="password" />
                        <label for="signInPassword">Password</label>
                    </div>
                    <label for="signInRemember" class="sign-label">
                        <input type="checkbox" name="rememberme" value="1" id="signInRemember" />
                        <i></i>
                        <span>Keep me signed in</span>
                    </label>
                    <label for="signIacknowledge" class="sign-label">
                        <input type="checkbox" name="iacknowledge" value="1" id="signIacknowledge" />
                        <i></i>
                        <span>I acknowledge that I have read and accept the Terms of Use Agreement and consent to the Privacy Policy and Video Privacy Policy.</span>
                    </label>
                    <label for="signSubscribe" class="sign-label">
                        <input type="checkbox" name="subscribe" value="1" id="signSubscribe" />
                        <i></i>
                        <span>Subscribe to Newsletter</span>
                    </label>
                    <div class="sbm-block">
                        <button [disabled]="!signinForm.valid" type="submit">
                            <app-loading *ngIf="loading"></app-loading>
                            Sign In
                        </button>
                        <!--<a href="#">Forgot password?</a> -->
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>