.form-control {
    color: #fff;
    background-color: transparent;
    border: 1px solid #ced4da;
}

.title {
	font-weight: 100;
}
a {
	padding: 2px;
	display: inline-block;
	font-size: 13px;
}

.signup-link{
	padding-left: 20px;
}

.btn-outline-dark{
	color: #fff
}

.is-signed {
	    opacity: .8;
	    font-weight: 300;
	    font-size: 12px;
	    line-height: 1.2;
	    letter-spacing: .05em;

	    a {
	    	margin-left: 0px !important;
	    }
}

	a {
		font-weight: 800;
		font-size:14px;
	}