.sidebar-content{
    padding-left: 20px;
    letter-spacing: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
    font-weight: 100;
    font-size: 15px;
    height: 35vh;
}

.sidebar-content a {
    color: #eee;
    max-width: 200px;
}

.sidebar-content .selected a {
	color: #fff;
	opacity: 1
}
