@charset "UTF-8";

  a {
  text-decoration: none;
  transition: all .218s ease-in-out; }


 
#aboutPopup{
	width: 100%;
	margin: 0 auto;
}
.about-block {
  position: relative;
  display: block;
  margin: 0 0 50px;
  text-align: center;
  padding-top: 50px;  }
.about-block .title {
    position: relative;
    display: block;
    margin-bottom: 10px;
    opacity: 5;
    font-weight: 100;
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: -.025em; 
	}
  .about-block .logo {
    position: relative;
    display: block;
    width: 320px;
    height: 95px;
    margin: 0 auto 20px;
    background: url("img/menu/logo.svg") 50% 50% no-repeat;
    background-size: contain;
	padding-top:75px;
    font-size: 0; }
	
	.about-block .logoNeo {
    position: relative;
    width: 180px;
    height: 90px;
    margin: 0 auto 0px;
	margin-bottom:-40px;}
	
	.about-block .logoNeo img{
		width: 180px;
		height: 90px;
		
	}
	.about-block .information{
		font: 16px/1.3em  Roboto-Regular;
		padding-top: 100px;
		width: 100%;
		height: 100%;
		text-align: center;	
	}
	
  .about-block .logo-info {
    font-weight: 100;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: .05em; }
  .about-block .peoples-wrap {
    position: relative;
    display: flex;
    margin: 50px -20px 25px;
    align-items: flex-start;
    flex-wrap: wrap;
    /*justify-content: space-between;*/ }
    .about-block .peoples-wrap.swiper-container {
      margin: 0 -50px 80px;
      padding: 40px 0 60px; }
      .about-block .peoples-wrap.swiper-container .people-one {
        margin: 0; }
      .about-block .peoples-wrap.swiper-container .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 8px; }
      .about-block .peoples-wrap.swiper-container .swiper-pagination-bullet {
        background: #fff; }
      .about-block .peoples-wrap.swiper-container .swiper-pagination-bullet-active {
        color: #fff; }
  .about-block .people-one {
	  
    position: relative;
    display: block;
    width: 164px;
    margin: 0 20px 50px; }
    .about-block .people-one .img {
      position: relative;
      display: block;
      width: 164px;
      height: 164px;
      margin: 0 auto 20px;
      border-radius: 50%; }
      .about-block .people-one .img:before {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        box-sizing: border-box;
        border: 4px solid transparent;
        border-radius: 50%;
        transition: border 0.35s cubic-bezier(0.39, 0.575, 0.565, 1); }
      .about-block .people-one .img img {
		  border-radius: 50%;
        display: block;
        width: 100%;
        height: 100%;
        margin: 0; }
    .about-block .people-one .name {
      width: 164px;
      margin: 0 auto;
      font-weight: 100;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: .05em; 
	  
	  }
    .about-block .people-one .position {
      width: 164px;
      margin: 0 auto;
      font-weight: 100;
      font-size: 12px;
      line-height: 1.5;
      letter-spacing: .05em;
      /*text-transform: uppercase; */}
    .about-block .people-one .fb-link {
      position: relative;
      display: block;
      width: 24px;
      height: 24px;
      margin: 15px auto 0;
      opacity: .4;
      background: url("img/fb-ico.svg") 50% 50% no-repeat;
      background-size: contain;
      transition: opacity .218s ease-in-out; }
	  .about-block .people-one .linkedin-github {
      position: relative;
      width: 55px;
      height: 24px;
      margin: 15px auto 0;
  }
	  
	  .about-block .people-one .linkedin-link {
      float:left;
      display: block;
      width: 24px;
      height: 24px;
      opacity: 1;
      background: url("img/linkedin-ico.png") 50% 50% no-repeat;
      background-size: contain;
      transition: opacity .218s ease-in-out; }
	  .about-block .people-one .github-link {
      float: right;
      display: block;
      width: 24px;
      height: 24px;
      opacity: 1;
      background: url("img/github-ico.png") 50% 50% no-repeat;
      background-size: contain;
      transition: opacity .218s ease-in-out; }
      .about-block .people-one .fb-link:hover {
        opacity: .8; }
      .about-block .people-one .fb-link:active {
        opacity: 1; }
    .about-block .people-one:hover .img:before {
      border-color: #fff;
	  }
	 
  .about-block .icons-wrap {
    position: relative;
    display: flex;
    margin: 50px -10px 25px;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between; }
  .about-block .icon-one {
    width: 106px;
    margin: 0 10px 45px; }
    .about-block .icon-one .img {
      position: relative;
      display: block;
      padding: 50%; }
      .about-block .icon-one .img:before {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        z-index: 0;
        background: url("img/bg-about-ico.svg") 50% 50% no-repeat;
        background-size: contain;
        opacity: .9;
        transition: opacity .2s ease; }
      .about-block .icon-one .img > * {
        position: absolute;
        display: block;
        max-width: 72px;
        max-height: 64px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        z-index: 1;
        transition: all .2s ease;
        opacity: .8; }
      .about-block .icon-one .img:hover:before {
        opacity: 1; }
      .about-block .icon-one .img:hover > * {
        opacity: 2;
        transform: scale(1.1); }
    .about-block .icon-one .name {
      margin: 15px auto;
      font-weight: 100;
      font-size: 12px;
      line-height: 17px;
      letter-spacing: .05em;
      text-transform: uppercase; 
	  text-align:center;}
  .about-block .content-wrap {
    position: relative;
    display: flex;
    margin: 50px -10px 25px;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between; }
  .about-block .content-one {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 10px 25px;
    box-sizing: border-box;
    font-size: 0;
    line-height: 0; }
    .about-block .content-one:after {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      z-index: 0;
      background: url("img/bg-about-ico.svg") 50% 50% no-repeat;
      background-size: contain;
      opacity: .1;
      transition: opacity .2s ease; }
    .about-block .content-one:hover:after {
      opacity: .3; }
    .about-block .content-one:before {
      content: '';
      position: relative;
      display: inline-block;
      vertical-align: middle;
      height: 100%;
      width: 0; }
    .about-block .content-one .content-inn {
      position: relative;
      display: inline-block;
      vertical-align: middle; }
    .about-block .content-one .cnt-s100, .about-block .content-one .cnt-s60, .about-block .content-one .cnt-s60, .about-block .content-one .cnt-s24, .about-block .content-one .cnt-s20, .about-block .content-one .cnt-s12, .about-block .content-one .cnt-s40 {
      position: relative;
      display: inline-block;
      vertical-align: baseline;
      line-height: 1; }
    .about-block .content-one .cnt-s100 {
      font-size: 100px; }
    .about-block .content-one .cnt-s60 {
      font-size: 60px; }
    .about-block .content-one .cnt-s50 {
      font-size: 50px; }
	.about-block .content-one .cnt-s40 {
      font-size: 40px; }
    .about-block .content-one .cnt-s24 {
      font-size: 24px; }
    .about-block .content-one .cnt-s20 {
      font-size: 20px; }
    .about-block .content-one .cnt-s12 {
      font-size: 12px; }
  .about-block .info-text {
    position: relative;
    display: block;
    padding: 0 35px;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 30px; }
    .about-block .info-text p {
      margin: 0 0 30px; }
  .about-block .info-text-btn {
    position: relative;
    display: block;
    width: 100%;
    max-width: 296px;
    height: 46px;
    margin: 35px auto 0;
    background: #04B404;/*#EA3F4F;*/
    border-radius: 3px;
    font-size: 12px;
    line-height: 46px;
    letter-spacing: .05em;
    color: #fff; }
    .about-block .info-text-btn:hover {
      background: #01DF3A;/*#e7283a; */}
    .about-block .info-text-btn:active {
      background: #ed5664; }
	

.swiper-wrapper{
	width: 100%;
	padding-left:-5px;
}
.swiper-wrapper .people-one{
	float: left;
	padding-right: 75px;
}
.myDot{
	width: 100%;
}
.mySlides{
	width: 100%;
	padding-left: 55px;
} 
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  margin-top: 50px;
  margin-bottom: -60px;
  background-color: #717171;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #bbb;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.clear { clear: both }

.about-block .member-one {
    position: relative;
    display: block;
    width: 70px;
    margin:auto;	}
.about-block .member-one .img {
  position: relative;
  display: block;
  width: 70px;
  height: 70px;
  overflow: hidden;
  margin: 5px 0px;
  border-radius: 50%; }
.about-block .member-one .img:before {
content: '';
position: absolute;
display: block;
top: 0;
left: 0;
bottom: 0;
right: 0;
box-sizing: border-box;
border: 4px solid transparent;
border-radius: 50%;
transition: border 0.35s cubic-bezier(0.39, 0.575, 0.565, 1); }
.about-block .member-one .img img {
display: block;
width: 100%;
height: 100%;
margin: 0; }
/*.about-block .member-one .name {
  width: 70px;
  margin: 15px 10px -15px;
  font-weight: 100;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: .05em; 
  
  }*/
  .about-block .member-one .name {
   width: 70px;
   margin: 15px 0px 0;
   font-weight: 100;
   font-size: 12px;
   line-height: 1.5;
   letter-spacing: .05em;
}
.member-block{
	margin-top: -40px;
}
.nameRed {
	/*color: red;*/
	margin: 0 -18px 0 -18px;
}
.about-block .github-imusify-btn {
    position: relative;
    display: block;
    width: 100%;
    max-width: 296px;
    height: 46px;
    margin: 35px auto 0;
    background: #BDBDBD;/*#2E2EFE;*/
    border-radius: 3px;
    font-size: 12px;
    line-height: 46px;
    letter-spacing: .05em;
    color: #fff; }
    .about-block .github-imusify-btn:hover {
      background: #D8D8D8; }
    .about-block .github-imusify-btn:active {
      background: #8181F7; }

.about-block .people-one .img .described {
	
	position:absolute;
	visibility:hidden;
	width:250px;
	height:300px;
	background: #121314;;
	text-align:center;
	z-index:1;
	border-color:#1E1E1C;
	border-style:solid;
	border-width: 0.02px;
	background-size: contain;
}

.about-block .people-one .img .described span{
	position: absolute;
	width:150px;
	height: 200px;
	font-weight: 100;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: .05em;
	margin:70px auto auto -70px;
}
.about-block .people-one .img:hover{
	
	overflow:visible;
}
.about-block .people-one .img:hover .described {
	width:250px;
	margin-left:-40px;
	visibility:visible;
	top:0px;
	left:px;
}		
.about-block .icon-one .nameLong {
      margin: 15px -8px;
      font-weight: 100;
      font-size: 12px;
      line-height: 17px;
      letter-spacing: .05em;
      text-transform: uppercase; 
	  text-align:center;}

.about-block .gotop-text-btn {
    float:right;
    display: block;
    width: 100%;
    max-width: 296px;
    height: 46px;
    margin: 35px auto 0;
    background: #BDBDBD;/*#EA3F4F;*/
    border-radius: 3px;
    font-size: 12px;
    line-height: 46px;
    letter-spacing: .05em;
    color: #fff; }
    .about-block .gotop-text-btn:hover {
      background: #A4A4A4;/*#e7283a; */}
    .about-block .gotop-text-btn:active {
      background: #ed5664; }	  


.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(232, 98, 86, 0.8) url(img/menu/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}

.people-one{
  width: 205px !important;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}	  
.about-block .space-one {
	width:35px;
}
.about-block .people-one .linkedin-link {
      float:left;
      display: block;
      width: 24px;
      height: 24px;
      opacity: 1;
      background: url("img/linkedin-ico.png") 50% 50% no-repeat;
      background-size: contain;
      transition: opacity .218s ease-in-out; }
.about-block .people-one .linkedin-link-one {
  margin: 10px auto auto 15px;
  display: block;
  width: 24px;
  height: 24px;
  opacity: 1;
  background: url("img/linkedin-ico.png") 50% 50% no-repeat;
  background-size: contain;
  transition: opacity .218s ease-in-out; } 	  
	  .about-block .people-one .github-link {
      float: right;
      display: block;
      width: 24px;
      height: 24px;
      opacity: 1;
      background: url("img/github-ico.png") 50% 50% no-repeat;
      background-size: contain;
      transition: opacity .218s ease-in-out; }
.about-block .people-one .github-link-one {
  float: left;
  margin:10px auto auto 20px;
  display: block;
  width: 24px;
  height: 24px;
  opacity: 1;
  background: url("img/github-ico.png") 50% 50% no-repeat;
  background-size: contain;
  transition: opacity .218s ease-in-out; }	  
/*#aboutPopup .about-block .swiper-wrapper {
	margin-left:130px;
}*/
/*#aboutPopup .about-block .swiper-wrapper .people-one .linkedin-github{
	margin-left:50px;
}*/
.about-block .people-one .github-link:hover {
	opacity: .5; }
  .about-block .people-one .github-link:active {
	opacity: 1; }
.about-block .people-one .linkedin-link:hover {
        opacity: .5; }
      .about-block .people-one .linkedin-link:active {
        opacity: 1; }		  



        .about-block .logo-info {
    width:410px;
    margin: 50px auto;
    font-weight: 100;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: .05em; }