.imu-model{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 30px 0 0 0;
	z-index: 2

}

.form-control {
	background-color: transparent;
}

.imu-model-close {
	font-size: 40px;
	color: gray;
	background: lightgray;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	text-align: center;
	border: 1px solid lightgray;
}
.imu-model-close:hover{
	background: #fff;
	border: 1px solid lightgray;
}
.imu-model-close:hover .light {
	-webkit-text-stroke: 6px white;
}

.light {
    -webkit-text-stroke: 6px lightgray;
}

.input-group-addon {
	font-weight: bold;
	color: #000;
}
.form-group label {
	width: 100%;
}
.validation-error {
	color: red;
	font-size: 14px;
}

.campaignname {
	text-transform: lowercase;
}

.sign-form{
	max-width: 710px;
}

.sign-form label{
	width: 100%;
}

.sign-form small, p {
	display: block;
	text-align: left;
}

.form-control {
	margin: 0 0 4px !important;
}

.sbm-block {
	margin-top: 10px !important
}
