<div class="popup show" id="emailJoin">
    <div class="popup-bg"></div>
    <div class="popup-scroll">
        <div class="popup-inner">
             <div  *ngIf="thanks" class="eJoin-block">
                <div class="title">Almost done...</div>
                <div class="eJoin-inner">
                  <div class="eJoin-img">Mail
                        <div class="mail-ico"></div>
                    </div>
                    <div class="eJoin-form">Your password reset link has been sent to your email {{forgotForm.value.email}}.</div>
                </div>
              </div>


              <div *ngIf="!thanks" class="eJoin-block">
                <div class="title">Reset your password</div>
                <div *ngIf="messages" class="error">
                    {{messages.message}}
                 </div>
                <div class="eJoin-inner">
                    <form
                          class="eJoin-form"
                          [formGroup]="resetForm"
                          (ngSubmit)="resetPassword(resetForm)"
                        >
                        <div class="inp-block big">
                            <input type="password" id="newPassword" name="password" placeholder="" formControlName="password" />
                            <label for="newPassword">New Password</label>
                            <div class="input-error" *ngIf="resetForm.controls.password.invalid && (resetForm.controls.password.dirty || resetForm.controls.password.touched)">
                            </div>
                        </div>
                          <div class="sbm-block">
                              <button [disabled]="!resetForm.valid" type="submit">
                                <app-loading *ngIf="loading"></app-loading>
                                Change Password
                              </button>
                            <span>
                              <p class="is-signed">Already have an Imusify account? <a routerLink="/signin">Sign in</a></p></span>
                          </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
