<div *ngIf="showForm" id="signInPopup" class="imu-model bg popup show">
    <button class="popup-close"
    		type="button"
    		(click)="close($event)">
    	Close
    </button>
    <div class="popup-bg"></div>
    <div class="popup-scroll">
        <div class="popup-inner">
            <div class="sign-block">
                <div class="title">Create a channel</div>
                <div class="tit-info">Channels are where your members communicate. They’re best when organized around a topic — #producers, for example.</div>
                <form
                	class="sign-form"
                	[formGroup]="channelForm"
                	(ngSubmit)="createChannel($event)">

                    <div class="inp-block">
                        <input type="text" name="" class="form-control form-control-lg channelname" placeholder="e.g. producers" formControlName="name">
                        <label>
                            Name
                            <span class="validation-error pull-right" *ngIf="nameError">{{nameError}}</span>
                        </label>
                        <small class="form-text text-muted he;">Name must be lowercase, without space or periods, and shorter than 22 characters.</small>
                    </div>
                    <div class="inp-block">
                        <label>Path</label>
                        <input type="text" #slug formControlName="slug" class="form-control form-control-lg" placeholder="producers">
                        <p class="text-muted">http://imusify.com/channel/{{channelForm.value.slug}}</p>
                    </div>
                    <div class="inp-block">
                      <select class="form-control" multiple formControlName="categories" >
                        <option *ngFor="let c of (categoriesList| async).categories" [value]="c.id">
                            {{c.name}}
                        </option>
                      </select>
                      <label for="">Tags</label>
                    </div>
                    <div class="inp-block">
                        <label>
                            Purpose:
                            <small>(<i>optional</i>)</small>
                        </label>
                        <textarea class="form-control form-control-lg" formControlName="description"></textarea>
                        <small class="form-text text-muted">What's this channel about?</small>
                    </div>

                    <div *ngIf="!done"class="sbm-block">
                        <button [disabled]="!channelForm.valid" type="submit" class="btn btn-primary btn-lg">
                            <app-loading *ngIf="loading"></app-loading>Create Channel</button>
                    </div>
                    <div *ngIf="done">
                        <div class="alert alert-success">
                            Channel created successfully!
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
