<div *ngIf="showForm" class="imu-model">
	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col-md-12">
				<a (click)="close($event)" class="imu-model-close pull-right" href="">
					<i class="fa fa-close light"></i>
				</a>							
			</div>
			<div class="col-md-8">
				<h1>Create a channel</h1>
				<p class="text-muted">Channels are where your members communicate. They’re best when organized around a topic — #producers, for example.</p>
				<form [formGroup]="channelForm" (ngSubmit)="createChannel($event)">
					<div class="form-group">
						<label>
							Name 
							<span class="validation-error pull-right" *ngIf="nameError">{{nameError}}</span>
						</label>
						<div class="input-group">
						<span class="input-group-addon">#</span>
						<input 
							type="text" 
							name=""
							class="form-control form-control-lg channelname" 
							placeholder="e.g. producers"
							formControlName="name"
							>
						</div>
						<small class="form-text text-muted he;">Name must be lowercase, without space or periods, and shorter than 22 characters.</small>
					</div>
					<div class="form-group">
						<label>Path</label>
						<input 
							type="text" #slug 
							formControlName="slug" 
							class="form-control form-control-lg"
							placeholder="producers" 
							>
						<p class="text-muted">http://imusify.com/channel/{{channelForm.value.slug}}</p>
					</div>
					<div class="form-group">
						<label>
							Purpose:
							<small>(<i>optional</i>)</small>
						</label>
						<textarea 
							class="form-control form-control-lg"
							formControlName="description"
							></textarea>
						<small class="form-text text-muted">What's this channel about?</small>
					</div>
					
					<div *ngIf="!done">
						<button
							[disabled]="!channelForm.valid" 
							type="submit"
							class="btn btn-primary btn-lg" 
							><app-loading *ngIf="loading"></app-loading>Create Channel</button>
						<button
							(click)="close($event)"
							type="button"
							class="btn btn-default btn-lg"
						>Cancel</button>
					</div>
					<div *ngIf="done">
						<div class="alert alert-success">
							Channel created successfully!
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	
</div>