.campaign-video{
  color: #FFFFFF;
}

.foll-body{
  margin: 5px 5px 5px 15px;
}

.name {
  cursor: pointer;
}

.follow-one {
  margin-bottom: 40px !important;
}

.foll-left {
  margin-top: 40px;
}

.foll-top {
  color: #FFFFFF;
}

.foll-tit {
  font-weight: 700;
  font-size: 14px;
}

.foll-body {
  font-weight: 200;
  font-size: 14px;
}

img {
  background-color: #FFFFFF;
  cursor: pointer;
  width: 60px !important;
  height: 60px;
}