<div class="inner-scroll follow-inner"
     infiniteScroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="50"
     [scrollWindow]="false"
     (scrolled)="onScroll()">
  <div class="foll-left">

    <div class="follow-one" *ngFor="let campaign of (this.campaignsList | async).campaigns;">

      <div class="author foll-show">
        <a (click)="displayCampaign($event, campaign)" class="img">
          <div class="img-box">
            <img src="{{ campaign?.picture || defaultCampaignImage }}" alt="">
            <i>
              <span class="prof-status online"></span>
            </i>
          </div>
        </a>
        <a (click)="displayCampaign($event, campaign)" class="name">
          <span>{{campaign?.title}}</span>
        </a>
        <div class="desc">
          <p>Crowdfunding Address</p>
          <span>{{ campaign?.crowdfunding_address }}</span>
        </div>
      </div>
      <div class="foll-inn">

        <div class="foll-top">
          <div class="foll-tit">
            <a (click)="displayCampaign($event, campaign)" class="name">
              <span>{{ campaign?.artisticName }}</span>
            </a>
          </div>
          <div class="foll-time">
            <a href="{{campaign?.videoLink}}" target="_blank" class="campaign-video">View Video</a>
          </div>
        </div>
        <div class="foll-body">
          {{campaign?.description || 'No description'}}
        </div>
      </div>


    </div>

  </div>
  <div class="foll-right">
    <div class="foll-r-one">
      <div class="r-one-top">
        <span>PEOPLE TO FOLLOW</span>
        <a class="see-more">See more</a>
      </div>
      <div class="r-one-body">
        <div class="peop-one foll-show">
          <a class="img">
            <div class="img-box">
              <img src="./../../../assets/images/peoples/5.jpg" alt="">
              <i>
                <span class="prof-status online"></span>
              </i>
            </div>
          </a>
          <div class="avatar-follow">
            <button type="button" class="foll-name">User Name</button>
            <button type="button" class="foll-foll">Follow</button>
            <button type="button" class="foll-mess">Message</button>
          </div>
          <a class="name">
            <span>Rana Onan</span>
          </a>
          <button type="button" class="peop-foll-btn">Follow</button>
        </div>
      </div>
    </div>
  </div>
</div>

