.campaign-video{
  color: #FFFFFF;
}

.foll-body{
  margin: 5px 5px 5px 15px;
}

.name {
  cursor: pointer;
}

.foll-left {
  margin-top: 40px;
}

.foll-top {
  color: #808080;
}

.foll-tit {
  font-weight: 700;
  font-size: 14px;
}

.foll-body {
  font-weight: 200;
  font-size: 14px;
}