<div class="popup show" id="emailJoin">
    <div class="popup-bg"></div>
    <div class="popup-scroll">
        <div class="popup-inner">  
             <div  *ngIf="thanks" class="eJoin-block">
                <div class="title">Almost done...</div>
                <div class="eJoin-inner">
                  <div class="eJoin-img">Mail
                        <div class="mail-ico"></div>
                    </div>
                    <div class="eJoin-form">We'll send an email to {{signupForm.value.email}} in a while. Open it up to activate your account.</div>
                </div> 
              </div>     
              <div *ngIf="!thanks" class="eJoin-block">                       
                <div class="title">Join with your email address</div>
                <div class="eJoin-inner">
                    <div class="eJoin-img">Mail
                        <div class="mail-ico"></div>
                    </div>
                    <form 
                          class="eJoin-form" 
                          [formGroup]="signupForm" 
                          (ngSubmit)="signup(signupForm)"
                        >
                        <div class="inp-block">
                            <input type="text" name="firstName" id="userFirstName" placeholder="David" formControlName="fname" />
                            <label for="userFirstName">First Name</label>
                        </div>
                        <div class="inp-block">
                            <input type="text" name="lastName" id="userLastName" placeholder="Walters" formControlName="lname" />
                            <label for="userLastName">Last Name</label>
                        </div>
                        <div class="inp-block big">
                            <input type="text" name="username" id="userNickname" placeholder="MusicLover" formControlName="username" />
                            <label for="userNickname">Username</label>
                        </div>
                        <div class="inp-block big">
                            <input type="email" name="email" id="userEmail" placeholder="my@email.com" formControlName="email" />
                            <label for="userEmail">Email</label>
                        </div>
                        <div class="inp-block big">
                            <input type="password" name="userPass" id="userPass" placeholder="******" formControlName="password" />
                            <label for="userPass">Password</label>
                        </div>                        
                        
                        <div class="inp-block">
                            <label for="privacyPolicy" class="policy-label">
                                <input type="checkbox" name="privacyPolicy" value="0" id="privacyPolicy">
                                <i></i>
                                <span class="privacy-info">I acknowledge that I have read and accept the <a href="#">Terms of Use Agreement</a> and consent to the <a href="#">Privacy Policy</a> and <a href="#">Video Privacy Policy</a>.</span>
                            </label>
                            <p class="is-signed">Already have an Imusify account? <a href="#">Sign in</a></p>
                        </div>
                        <div class="inp-block">
                            <div class="sbm-block">
                                <button [disabled]="!signupForm.valid" type="submit">
                                  <app-loading *ngIf="loading"></app-loading>
                                  Create Account
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>