/* You can add global styles to this file, and also import other style files */


.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix {
  clear: both
}

.error {
	font-size: 24px;
    font-family: Roboto;
    font-weight: 100;
    color: red;
}

.form-control {
        position: relative;
    display: block;
    width: 100%;
    padding: 10px 10px;
    margin: 0 0 25px;
    box-sizing: border-box;
    background: none;
    outline: none;
    border: 1px solid hsla(0,0%,100%,.4);
    border-radius: 4px;
    transition: all .35s ease;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
}