<div class="popup show" id="editProPopup">
            <button class="popup-close" (click)="close($event)" type="button">Close</button>
            <div class="popup-bg"></div>
            <div class="popup-scroll">
                <div class="popup-inner">
        
                    <div class="edit-block">
                        <div class="title">Edit your profile</div>
                        <div class="edit-inner">
                            <div class="user-img">
                                <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/5/005/0af/0fb/0a56dc9.jpg" alt="">
                                <input type="file" name="userImg" id="userImg" />
                                <label for="userImg" class="img-upload">Upload image</label>
                            </div>
                            <form *ngIf="profileForm" [formGroup]="profileForm" method="post" class="edit-form" action="profile.html" >
                                <div class="inp-block">
                                    <input type="text" name="firstName" id="userFirstName" placeholder="David" formControlName="fname" />
                                    <label for="userFirstName">First Name</label>
                                </div>
                                <div class="inp-block">
                                    <input type="text" name="lastName" id="userLastName" placeholder="Walters" formControlName="lname" formControlName="fname" />
                                    <label for="userLastName">Last Name</label>
                                </div>
                                <div class="inp-block big">
                                    <input readonly="readonly" type="email" name="email" id="email" placeholder="" formControlName="email" />
                                    <label for="email">Email Address</label>
                                </div>
                                 <div class="inp-block big">
                                    <input readonly="readonly" type="text" name="username" id="username" placeholder="" formControlName="username" />
                                    <label for="username">Username</label>
                                </div>
                                
                                <div class="inp-block big">
                                    <textarea name="description" id="description" placeholder="some text here"></textarea>
                                    <label for="description">Description</label>
                                </div>
                                
                                <div class="inp-block sbmt">
                                    <div class="sbm-block">
                                        <button type="submit">Save Settings</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>