<div class="popup show" id="editProPopup">
            <button class="popup-close" type="button">Close</button>
            <div class="popup-bg"></div>
            <div class="popup-scroll">
                <div class="popup-inner">
        
                    <div class="edit-block">
                        <div class="title">Edit your profile</div>
                        <div class="edit-inner">
                            <div class="user-img">
                                <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/5/005/0af/0fb/0a56dc9.jpg" alt="">
                                <input type="file" name="userImg" id="userImg" />
                                <label for="userImg" class="img-upload">Upload image</label>
                            </div>
                            <form method="post" class="edit-form" action="profile.html" >
                                <div class="inp-block">
                                    <input type="text" name="firstName" id="userFirstName" placeholder="David" />
                                    <label for="userFirstName">First Name</label>
                                </div>
                                <div class="inp-block">
                                    <input type="text" name="lastName" id="userLastName" placeholder="Walters" />
                                    <label for="userLastName">Last Name</label>
                                </div>
                                <div class="inp-block">
                                    <input type="text" name="webLink" id="websiteLink" placeholder="www.imusify.com" />
                                    <label for="websiteLink">Website Link</label>
                                </div>
                                <div class="inp-block">
                                    <select data-placeholder="Please select country" name="selectCountry" id="selectCountry">
                                        <option></option>
                                        <option value="AF">Afghanistan</option>
                                        <option value="AX">Åland Islands</option>
                                        <option value="AL">Albania</option>
                                        <option value="DZ">Algeria</option>
                                        <option value="AS">American Samoa</option>
                                        <option value="AD">Andorra</option>
                                        <option value="AO">Angola</option>
                                        <option value="AI">Anguilla</option>
                                        <option value="AQ">Antarctica</option>
                                        <option value="AG">Antigua and Barbuda</option>
                                        <option value="AR">Argentina</option>
                                        <option value="AM">Armenia</option>
                                        <option value="AW">Aruba</option>
                                        <option value="AU">Australia</option>
                                        <option value="AT">Austria</option>
                                        <option value="AZ">Azerbaijan</option>
                                        <option value="BS">Bahamas</option>
                                        <option value="BH">Bahrain</option>
                                        <option value="BD">Bangladesh</option>
                                        <option value="BB">Barbados</option>
                                        <option value="BY">Belarus</option>
                                        <option value="BE">Belgium</option>
                                        <option value="BZ">Belize</option>
                                        <option value="BJ">Benin</option>
                                        <option value="BM">Bermuda</option>
                                        <option value="BT">Bhutan</option>
                                    </select>
                                    <label class="select2-label" for="selectCountry">Select Country</label>
                                </div>
                                <div class="inp-block">
                                    <select data-placeholder="Please select state" name="selectState" id="selectState">
                                        <option></option>
                                        <option value="AL">Alabama</option>
                                        <option value="AK">Alaska</option>
                                        <option value="AZ">Arizona</option>
                                        <option value="AR">Arkansas</option>
                                        <option value="CA">California</option>
                                        <option value="CO">Colorado</option>
                                        <option value="CT">Connecticut</option>
                                        <option value="DE">Delaware</option>
                                        <option value="DC">District Of Columbia</option>
                                        <option value="FL">Florida</option>
                                        <option value="GA">Georgia</option>
                                        <option value="HI">Hawaii</option>
                                    </select>
                                    <label class="select2-label" for="selectState">Select State</label>
                                </div>
                                <div class="inp-block">
                                    <select data-placeholder="Please select city" name="selectCity" id="selectCity">
                                        <option></option>
                                        <option value="AB">Abbeville</option>
                                        <option value="AD">Adamsville</option>
                                        <option value="AK">Akron</option>
                                        <option value="AL">Alabaster</option>
                                        <option value="AN">Andalusia</option>
                                        <option value="AR">Arab</option>
                                        <option value="AS">Ashford</option>
                                        <option value="AT">Athens</option>
                                        <option value="AU">Auburn</option>
                                        <option value="AV">Avon</option>
                                    </select>
                                    <label class="select2-label" for="selectState">Select City</label>
                                </div>
                                <div class="inp-block big">
                                    <textarea name="description" id="description" placeholder="some text here"></textarea>
                                    <label for="description">Description</label>
                                </div>
                                <div class="inp-block medium">
                                    <input type="text" value="" name="birthDate" id="birthDate" data-type="datepicker">
                                    <label for="birthDate">Date of Birth</label>
                                </div>
                                <div class="inp-block sbmt">
                                    <div class="sbm-block">
                                        <button type="submit">Save Settings</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>